a{
	text-decoration: none;
	color: #E7E7E7;
}
*{
	list-style: none;
	padding: 0;
	margin: 0;
}
body {
    font-size: 12px;
    font-family: "苹方","微软雅黑", "Helvetica";
    background-color: #f5f6fa
}
/*头部开始*/
.head{
	width: 100%;
	height: 7.2rem;
}
.header{
	width: 100%;
	height: 1.25rem;
	background: #31BAFF;
	display: flex;
	position: fixed;
	z-index: 10;
}
.header li:nth-child(1){
	width: 20%;
}
.header li:nth-child(2){
	width: 20%;
}
.header li:nth-child(3){
	width: 20%;
}
.header li:nth-child(4){
	width: 20%;
}
.header li:nth-child(5){
	width: 20%;
}
.header li a{
	display: block;
	text-align: center;
	line-height: 1.23rem;
	color: #fff;
	font-size: 0.50rem;
}
.header span{
	display: block;
	width: 100%;
	height: 2px;
	background: #fff;
	margin-top: -0.05rem;
}
/*banner开始*/
.banner{
	display: block;
	overflow: hidden;
	width: 100%;
	height: 5.95rem;
	position: absolute;
}
.banner a{
	display: block;
	width: 100%;
	height: 7.2rem;
	background-image:url(../img/banner3.jpg);
	background-size: contain;
	background-repeat: no-repeat;
}
/*金牌师资开始*/
.jinpaishizi{
	width: 100%;
	height: 26rem;
	background: #F5F6FA;
}
.jinpaishizi1{
	width: 100%;
	height: 1.25rem;
	/*background: red;*/
}
.jinpaishizi1 a{
	font-size: 0.6rem;
	line-height: 1.25rem;
	margin-left: 0.3rem;
	color: #000;
}
.jinpaishizi1 span{
	font-size: 0.6rem;
	margin-left: 0.2rem;
}
.jiangshi{
	width: 10.15rem;
	height: 24.3rem;
	margin: auto;
	background: #fff;
}
.jiangshi .fenlei{
	width: 9.45rem;
	height: 1.15rem;
	border: 1px solid #00B6FF;
	margin: auto;
	border-radius: 0.2rem;
	display: flex;
}
.fenlei a:nth-child(1){
	display: block;
	width: 33.33%;
	height: 100%;
	background: #00B6FF;
	font-size: 0.5rem;
	text-align: center;
	line-height: 1.15rem;
	border-radius: 0.2rem;
}
.fenlei a:nth-child(2){
	display: block;
	width: 33.33%;
	height: 100%;
	/*background: red;*/
	font-size: 0.5rem;
	text-align: center;
	line-height: 1.15rem;
	border-radius: 0.2rem;
	color: #000;
}
.fenlei a:nth-child(3){
	display: block;
	width: 33.33%;
	height: 100%;
	/*background: red;*/
	font-size: 0.5rem;
	text-align: center;
	line-height: 1.15rem;
	border-radius: 0.2rem;
	color: #000;
}
.sanjiao{
	margin: auto;
	width: 0px;
	height: 0px;
	border-left: 10px solid rgba(0,0,0,0);
	border-top: 10px solid #00B6FF;
	border-right: 10px solid rgba(0,0,0,0);
}
.UIwenti{
	width: 9.45rem;
	height: 20.3rem;
	/*background: red;*/
	margin-top: 1rem;
	margin: auto;
}
.UIwenti .hot{
	width: 100%;
	height: 3.9rem;
	/*background: green;*/
	display: flex;
	align-items: center;
	border-bottom: 1px solid #b8b8b8;
	margin-top: 0.5rem;
}
.hot .shu{
	width: 0.06rem;
	height: 0.27rem;
	background: #01b5ff;
	display: inline-block;
	float: left;
	margin-top: 0.2rem;
	overflow: hidden;
}
.hot a .p1{
	font-size: 0.45rem;
	color: #000;
}
.hot .yuan{
	width:0.2rem;
	height: 0.2rem;
	background-image: url(../img/hot_01.png);
	float: left;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 0.4rem;
	margin-left: -0.05rem;
}
.hot .p2{
	margin-top: 0.2rem;
	color: #666;
	width: 100%;
	text-align: left;
	font-size: 0.3rem;
}
.hot .p3{
	color: #ff9300;
	display: block;
	text-align: center;
	margin-bottom: 0.5rem;
	font-size: 0.4rem;
}
.yema{
	width: 100%;
	height: 1.4rem;
	/*background: #fff;*/
}
.yema1{
	width: 100%;
	height: 1.2rem;
	/*background: red;*/
	/*margin-top: -0.2rem;*/
	display: flex;
}
.yema .yema1 a:nth-child(1){
	display: block;
	width: 0.72rem;
	height: 0.72rem;
	background-image: url(../img/s1.png);
	background-size: cover;
	margin-left: 0.72rem;
}
.yema .yema1 a:nth-child(2){
	width: 2.2rem;
	height: 0.72rem;
	display: block;
	background-image: url(../img/s2.png);
	background-size: cover;
	margin-left: 0.4rem;
}
.yema .yema1 .a1{
	width: 1.96rem;
	height: 0.7rem;
	border: 1px solid #666;
	color: #666;
	border-radius: 0.4rem;
	font-size: 0.35rem;
	line-height: 0.72rem;
	text-align: center;
	margin-left: 0.3rem;
}
.yema .yema1 a:nth-child(4){
	width: 2.2rem;
	height: 0.72rem;
	display: block;
	background-image: url(../img/s3.png);
	background-size: cover;
	margin-left: 0.3rem;
}
.yema .yema1 a:nth-child(5){
	display: block;
	width: 0.72rem;
	height: 0.72rem;
	background-image: url(../img/s4.png);
	background-size: cover;
	margin-left: 0.3rem;
}
.ding{
	width: 100%;
	/*height: 0.8rem;*/
	margin-bottom: 2rem;
}
.ding .dingbu{
	width: 9rem;
	height: 100%;
	margin: auto;
	/*background: red;*/	
}
.dingbu p{
	font-size: 0.2rem;
	text-align: center;
}
.lianxi{
	width: 100%;
	display: flex;
	position: fixed;
	bottom: 0;
	background: #E7E7E7;
}
.lianxi .left{
	width: 30%;
	height: 100%;
	background: #E7E7E7;
}
.lianxi .left a{
	display: block;
	float: left;
	display: flex;
	align-items: center;
}
.lianxi .left span{
	display: inline-block;
	line-height: 1.5rem;
	margin-left: 0.2rem;
	float: right;
	color: #000;
	font-size: 0.4rem;
	text-align: center;
}
.lianxi .left img{
	width: 0.8rem;
	height: 0.8rem;
	margin-left: 0.25rem;
}
.lianxi .right{
	width: 30%;
	height: 100%;
	background: #E7E7E7;
}
.lianxi .right a{
	display: inline-block;
	float: left;
	display: flex;
	align-items: center;
}
.lianxi .right span{
	display: inline-block;
	line-height: 1.5rem;
	margin-left: 0.2rem;
	float: right;
	color: #000;
	font-size: 0.4rem;
	text-align: center;
}
.lianxi .right img{
	width: 0.8rem;
	height: 0.8rem;
	margin-left: 0.2rem;
}
.lianxi .text{
	width: 40%;
	height: 100%;
	background: #FF8D10;
	margin-top: -0.1rem;
	box-shadow: 0.01rem 0.01rem 0.1rem 0.002rem #FF8D10,-0.01rem -0.01rem 0.1rem 0.002rem #FF8D10; 
}
.lianxi .text a{
	display: inline-block;
	float: left;
	display: flex;
	align-items: center;
}
.lianxi .text span{
	display: inline-block;
	line-height: 1.5rem;
	margin-left: 0.3rem;
	float: right;
	color: #000;
	font-size: 0.4rem;
	text-align: center;
}
.lianxi .text img{
	width: 0.8rem;
	height: 0.8rem;
	display: block;
	margin-left: 0.6rem;
}